::-webkit-scrollbar {
height: 10px;
width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--BG-Color);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--lighter-Blue);
width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--light-Blue);
}

:root{
    --BG-Color: rgb(26,20,32);
    --BG1-Color: rgb(31,30,48);
    --BG2-Color: rgba(31, 33, 65, 0.479);
    --BG2v1-Color: rgba(19, 15, 39, 0.808);
    --BG3-Color: rgb(65, 31, 54);
    --BG3v1-Color: rgb(30, 15, 54);
    --BG4-Color: rgba(46, 46, 87, 0.932);

    --BG-Gradient: linear-gradient(to top, var(--BG1-Color),var(--BG2-Color));
    --BG2-Gradient: linear-gradient(to right, var(--BG1-Color),var(--BG3-Color));
    --BG3-Gradient:  linear-gradient(0deg,  var(--BG4-Color),var(--BG2-Color));

    --shadow: #0a1434a3;
    --shadow2: #340a2da3;
    --light-Blue: rgb(157, 208,207);
    --lighter-Blue: rgb(197,255,253); 
    --Highlight: rgb(255, 58, 166);
    --Txt-Highlight: rgb(1, 22, 22);
  
    --opacity: 2s;

    --header-Padding: 30px;
    --Font: 'arial';
}

body{
    margin: 0px;  

    background-image: var(--BG2-Gradient);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header{
    animation-name: topSlide;
    animation-duration: 0.5s;

    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    background-image: var(--BG3-Gradient);
    
    color: var(--light-Blue);

    border-bottom: 2px solid;
    border-color: var(--light-Blue);

    backdrop-filter: blur(5px);
}
header span{
    padding-left: var(--header-Padding);
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: var(--Highlight);
}


nav ul{
    margin: 0;
    

    display: flex;
    border-right: 5px;
    
    
}

header nav ul li{
    list-style-type: none;    
    justify-content:space-evenly;
    border-color: black;
    font-size: 20px;
    border-right:1px dotted ;

    padding-right: var(--header-Padding);
    padding-left: var(--header-Padding);
    padding-top: 10px;
}
aside{
    animation-name: leftSlide;
    animation-duration: 1s;

    position: fixed;
    z-index: 1;
    

    top: 40%;

    background-image: var(--BG3-Gradient);
    width: 5.5%;

    outline: 3px solid;
    outline-color: var(--lighter-Blue);
}
aside nav ul{
    position: relative;
    top: 5px;
    right: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 75px;

}
aside nav ul li{
    position: relative;
    right: 30px;
    bottom: 5px;
    
    text-align: center;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    
    border-bottom: 1px dotted var(--lighter-Blue);

    color: var(--Highlight);
    padding-top: 20px;
    padding-bottom: 20px;
}

#woman{
    padding-left: 40px; 
    height: 500px;
    cursor: pointer;
}
#hlinks{
    text-decoration: none;
    color: var(--light-Blue);
}
.hactive{
    background-color: var(--shadow) ;
    height: 100%;
}
.sactive{    
    background-color: var(--shadow2);
}
#woman:hover{
    opacity: .8;
    padding-left: 40px; 
    height: 500px;
}

#bgImgS1{
    position: absolute;
    z-index: -1;

    width: 600px;
    opacity: .3;
    top: 0px;
    bottom: 10px;
    
}

#border{
    animation-name: opacityAnimation;
    animation-duration: 3s;
}

.gui{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.box{    
    width: 30%;
    height: 300px;

    background-image: var(--BG-Gradient);
    border-style: solid;
    border: 10px;
    border-color: var(--light-Blue);
    outline: 10px;
}
.instruction{
    position: absolute;

    right: 8%;
    width: 300px;

    font-family: Arial, Helvetica, sans-serif;
}
.instruction summary{
    color: var(--lighter-Blue);
}
.instruction p{
    color: var(--light-Blue);
}

.boxInteract{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;


    align-items: center;


    width: 35%;
    height: 150px;

    background-image: var(--BG-Gradient);
    border-style: solid;
    border-color: var(--light-Blue);
}
.boxInteract h1{
    color: var(--light-Blue);
    font-family: Arial, Helvetica, sans-serif;
}
.buttons{
    display: flex;
    
    overflow-x: scroll;
    margin-right: 5%;
}
.buttons button{
    height: 30px;
    
    font-size: 20px;
    background-color: var(--lighter-Blue);
    color: var(--Txt-Highlight);
    border-radius: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

    padding-right: 30px;
    padding-left: 30px;

    margin-right: 5px;
    margin-left: 5px;

    cursor: pointer;
}

.letter{
    position: relative;
    top: 65px;
    bottom: 100%;

    background-color: var(--BG2v1-Color);
    border-radius: 70% 0% 0 0;;
    border-top: 2px solid;
    border-color: var(--light-Blue);
    color: lightblue;

    backdrop-filter: blur(13px);
}
#titlelet{
    color: var(--lighter-Blue);
    text-shadow: 2px 3px var(--Highlight);
}
footer{
    animation-name: opacityAnimation;
    animation-duration: 3s;
}


@keyframes topSlide{
    from {
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes leftSlide{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes opacityAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}